<!-- <div class="sidenav">
    <div class="login-main-text">
       <h2>Application<br> Login Page</h2>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
        <div class="pt=5">
            <div id="okta-sign-in-widget" class="pt-5"></div>
        </div>
       </div>
    </div>
 </div> -->


<div class="login-form">
    <div class="pt=5">
        <div id="okta-sign-in-widget" class="pt-5"></div>
    </div>
</div>